.btn {
    border-radius: 0;

    &.btn_cta {
        padding: 8px 16px;
        font-size: 14px;
        color: #ffffff;
        text-transform: uppercase;

        &.btn_white {
            border: 1px solid #707070;


            &:hover {
                background: #ffffff;
                color: #000000;
                cursor: pointer;
            }
        }

        &.btn_black {
        	border: 1px solid #000000;
        	color: #000000;
            padding: 10px 40px;

        	&:hover {
        		background: #000000;
        		color: #ffffff;
        		cursor: pointer;
        	}
        }

        &.btn_primary,
        &.btn_secondary {

            border-radius: 20px;
            color: #ffffff;
            width: 100%;
            max-width: 300px;

            &:hover {
            	opacity: 0.7;
            }
        }

        &.btn_primary {
            background: $primary;
        }

        &.btn_secondary {
            background: $secondary;

        }
    }
}