.form-control {
	padding: 20px;
	border-radius: 0;
	margin-bottom: 32px;
}

.form-inline {
	.form-control {
		width: 48%;
	}
}

.modal {

	&-header {
		color: #000000;
	}

	.register_item {
		text-align: left;
		font-size: 16px;
		font-weight: bold;
		label {
			color: #000000;
		}
	}
	.custom-file-label {
		border-radius: 0;
	}

	.btn {
		float: right;
		margin-top: 16px;
	}
}