body {
    margin: 0;
    padding: 0;
    font-family: "Muli", Arial, "Helvetica Neue", Helvetica, sans-serif;
}

a {
    color: #000000;
}

.container {
    @media (min-width: 1600px) {
        max-width: 1920px;
    }
}

html {
    scroll-behavior: smooth;
}