@font-face {
    font-family: 'Muli';
    src: url('../source/font/Muli/static/Muli-Regular.ttf');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Muli';
    src: url('../source/font/Muli/static/Muli-Italic.ttf');
    font-style: italic;
    font-weight: normal;
}

@font-face {
    font-family: 'Muli';
    src: url('../source/font/Muli/static/Muli-Bold.ttf');
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: 'Muli';
    src: url('../source/font/Muli/static/Muli-BoldItalic.ttf');
    font-style: italic;
    font-weight: bold;
}
@font-face {
    font-family: 'Muli';
    src: url('../source/font/Muli/static/Muli-SemiBold.ttf');
    font-style: normal;
    font-weight: 600;
}
@font-face {
    font-family: 'Muli';
    src: url('../source/font/Muli/static/Muli-SemiBoldItalic.ttf');
    font-style: italic;
    font-weight: 600;
}
